<!doctype html> <html> <head>
    <title>Prediction!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> </head> <body style="background-color:grey"> <div id="maintext" 
style="position:absolute; margin:auto; width:500px; height:200px; text-align:center; top:0; bottom: 1; left: 0; right: 0;">
  <h1 class="text-light mb-5"> </h1>
  
<div> <img src= "https://drive.google.com/uc?id=1-2Lj9nPLLVDNPZXxkJmH8as1z1GXvjVe" alt="output"/> 
</div>
  <a href="{{ url_for('main_page') }}"><button class="button mt-3">Check Again</button></a>
</div>
</body>
</html>

